/* ==========================================================
   TENTANG COMPONENT
========================================================== */
.about-section {
  overflow: hidden;
}

.about-image-composition {
  height: 600px;
}

.img-box {
  position: absolute;
  transition: transform 0.5s ease;
}

.img-box:hover {
  transform: translateY(-10px);
}

.img-box svg, .img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-1 {
  width: 55%;
  height: 350px;
  top: 40px;
  left: 0;
  z-index: 2;
}

.img-2 {
  width: 50%;
  height: 450px;
  top: 0;
  right: 0;
  z-index: 1;
}

.about-card {
  position: absolute;
  bottom: 20px;
  left: 20%;
  width: 250px;
  z-index: 3;
}

@media (max-width: 991px) {
  .about-image-composition {
    height: 450px;
    margin-top: 50px;
  }
  
  .img-1 {
    width: 60%;
    height: 250px;
  }
  
  .img-2 {
    width: 50%;
    height: 350px;
  }
  
  .about-card {
    left: 10%;
    bottom: 0;
  }
}
